:root {
    --blur-value: 8px;
    --contrast-value: 30;
    --brightness-value: 1;
    --blur-background-color: #000;
    --blur-text-color: #fff;
}

.main-content {
    filter: brightness(var(--brightness-value)) contrast(var(--contrast-value));
    -webkit-filter: brightness(var(--brightness-value)) contrast(var(--contrast-value));
    background-color: var(--blur-background-color);
}

.blob-filter {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 10;
    background-color: var(--light-color);
    filter: opacity(30%);
    position: absolute;
    height: 105vh;
    width: 100%;
}

.blur {
    filter: blur(var(--blur-value));
    -webkit-filter: blur(var(--blur-value));
    position: absolute;
    transition: all .5s ease-out;
}

.myname {
    color: var(--blur-text-color);
    filter: blur(var(--blur-value));
    -webkit-filter: blur(var(--blur-value));
    position: absolute;
    transition: all .5s ease-out;
    max-width: 100vw;
}

.blob1 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgb(255, 59, 127);
}

.blob2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgb(0, 255, 136);
}

@media only screen and (max-width: 600px) {
    .myname {
        filter: blur(0px) !important;
        -webkit-filter: blur(0px) !important;
        z-index: 21;
        font-size: 65px;
        /* -webkit-text-stroke: 2px black; */
    }
}