:root {
    --blur-value: 5px;
    --contrast-value: 25;
    --brightness-value: 1;
    --blur-background-color: #000;
    --blur-text-color: #fff;
}

.main-content {
    filter: brightness(var(--brightness-value)) contrast(var(--contrast-value));
    -webkit-filter: brightness(var(--brightness-value)) contrast(var(--contrast-value));
    background-color: var(--blur-background-color);
}

.blob-filter {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 10;
    background-color: var(--light-color);
    filter: opacity(30%);
    position: absolute;
    height: 105vh;
    width: 100%;
}

.blur {
    filter: blur(var(--blur-value));
    -webkit-filter: blur(var(--blur-value));
    position: absolute;
}

.myname {
    color: var(--blur-text-color);
}

.blob1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #de3b7f;
    animation: move1 16s infinite;
}

.blob2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #3bdec3;
    animation: move2 42s infinite;
}

@keyframes move1 {
    0%, 100% {
        transform: translateX(75px) translateY(-240px);
    }
    50% {
        transform: translateX(-375px) translateY(-50px);
    }
}

@keyframes move2 {
    0% {
        transform: translateX(-150px) translateY(60vh);
    }
    100% {
        transform: translateX(380px) translateY(-70vh);
    }
}