:root {
 --blur-value: 7px;
  --contrast-value: 40;
}

body {
  margin: 0;
  /* background-color: #12192c; */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  font-family: 'Roboto', sans-serif;
  scrollbar-color: #293249 #12192c;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;

  font-size: 22px;
  color: #12192c;
  position: fixed;
  width: 100%;
  top: 0;
  font-weight: 500;
}

header a {
  color: #12192c;
  text-decoration: none;
}

section {
  height: 100vh;
}

.j-s, .j-e {
  width: 50%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

.j-s {
  justify-content: flex-start;
}

.j-e {
  text-decoration: none;
  justify-content: flex-end;
}

.j-e>* {
  margin-right: 15px;
}

.hero-background {
  height: 25vh;
  width: 100%;
  background-color: #12192c;
  margin-bottom: -1px;
}

main {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 105vh;
  filter: contrast(var(--contrast-value));
  -webkit-filter: contrast(var(--contrast-value));
  overflow: hidden;
}

.blur {
  filter: blur(var(--blur-value));
  -webkit-filter: blur(var(--blur-value));
  position: absolute;
}

.myname {
  font-size: 128px;
  color: #000;
  margin-top: -10vh;
  position: absolute;
  text-align: center;
}

.spacer svg {
  /* aspect-ratio: 16/9; */
  margin-top: 25vh;
  width: 100%;
  height: 100vh;
}

.spacer {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

.projects {
  /* margin-top: -16px; */
  width: 100%;
  margin-top: 100vh;
  height: 100vh;
  background: #d95b35;
  background: linear-gradient(0deg, rgba(217, 92, 54, 1),  rgba(222, 59, 147, 1), 100%);
}

.blob-wrapper {
  cursor: pointer;
  transform: scale(0.8);
  filter: contrast(var(--contrast-value));
  -webkit-filter: contrast(var(--contrast-value));
  background: white;
  top:0px;
  width: 650px;
  height: 200px;
  position: relative;
}

.blob1, .blob2 {
  filter: blur(var(--blur-value));
  -webkit-filter: blur(var(--blur-value));
  position: relative;
}

.blob1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #000;
  animation: move1 16s infinite;
  position: absolute;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.blob2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #000;
  filter: blur(var(--blur-value));
  animation: move2 42s infinite;
  position: absolute;
}

@keyframes move1 {
  0%,100% {
    transform: translateX(75px) translateY(-240px);
  }
  50% {
    transform: translateX(-375px) translateY(-50px);
  }
}

@keyframes move2 {
  0%,100% {
    transform: translateX(-150px) translateY(-270px);
  }
  50% {
    transform: translateX(380px) translateY(40px);
  }
}